*{ margin: 0px; padding: 0px; box-sizing: border-box; }
body{
  width: 100%;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(0, 0, 0, 0.02);
}
input{
  width: 100%;
  height: 2.5rem;
  padding: 0px 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  outline: none;
}
/* ############################## */
nav{
  display: grid;
  grid-template-columns: 10fr 20fr 10fr;
  grid-gap: 4rem;

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4rem;
  padding: 0px 2vw;
  font-size: 1.5rem;
  color: #555;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
nav div.active{
  border-bottom: 0.2rem solid #1da1f2;
}
nav div.left{
  display: grid;
  grid-template-columns: 5fr 10fr;
  grid-gap: 1rem;
  align-items: center;
}
nav div.left div.logo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 0.5rem;
  font-weight: 400;
  color: #1da1f2;
}
nav div.middle{
  display: grid;
  grid-template-columns: 10fr 10fr 10fr;
  justify-items: center;
  grid-gap: 1rem;
  align-items: center;
}
nav div.middle > div{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: 100%;
}
nav div.right{
  display: grid;
  grid-template-columns: 8fr 8fr 1fr 1fr 8fr;
  align-items: center;
  grid-gap: 2rem;
  align-items: center;
}
nav div.right > div{
  position: relative;
}
nav div.right > div:last-child{
  text-align: right;
}
nav div.chat-counter{
  display: grid;
  justify-content: center;
  align-content: center;

  position: absolute;
  top: -0.6rem;
  right: -1rem;

  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background: #f02849;
  border-radius: 50%;
}
nav div.notification-counter{
  display: grid;
  justify-content: center;
  align-content: center;

  position: absolute;
  top: -0.6rem;
  right: -1rem;

  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background: #f02849;
  border-radius: 50%;

}
/* ############################## */
main{
  display: grid;
  grid-template-columns: 10fr 20fr 10fr;
  grid-gap: 4rem;

  position: absolute;
  top: 5rem;
  left: 0px;
  width: 100%;
  padding: 0px 2vw;
}
main .mind{
  width: 100%; 
  padding: 1rem;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
main .mind > div:first-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}
main .mind form input{
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
}
main .mind > div:last-child{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  padding-top: 1rem;
}
main .photo{
  color: #45bd62;
}
main .tag{
  color: #1da1f2;
}
main .feel{
  color: #f7b928;
}
/* ############################## */


